body
{
    background-color: rgb(140, 233, 19);
}

h1
{
color: skyblue;
background-color: yellow;
}

#show_sketch
{
    float: right;
}

canvas
{
    border: 6px solid black;
    border-radius: 25px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 70px;
    animation-iteration-count: infinite;
}

@keyframes example
{
    from{box-shadow: 1px 1px 38px rgb(212, 7, 20);}
    to{box-shadow: 1px 1px 38px rgb(83, 145, 245);}
}
 
p
{
padding-top: 10px;
font-size: 40px;
}